footer {
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#footer-titulo1 {
  color: #f57c00;
  font-size: 60px;
}
.footer-titulo2 {
  color: #ffc73d;
  font-size: 30px;
}
.footer-titulo,
.footer-autores,
.footer-contacto {
  flex: 1;
  margin: 5px;
  font-size: 20px;
}
.footer-autores li {
  list-style: none;
  padding: 0;
  color: #313131;
}
.footer-copy {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #b08854;
}

/* Verde vibrante (#6BAF5F): 
    Rojo intenso (#E63946): 
    Naranja quemado (#F57C00): 
    Marrón claro (#B08854)
    Amarillo mostaza (#FFC73D) */
